<!--/*
*   Created by IntelliJ IDEA Ultimate, 2020
*   User: Abhishek
*   Date: 16-06-2020
*   Time: 06:45 AM
*/-->

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SparkBit</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="content">
        <img alt="logo" src="img/logo.png">
        <h1>SprakBit</h1>
        <h5>Platform that convert your Business to Digital.</h5>
        <p>We are here to convert your Business to Digital Platform with a single click. <br> So what are you waiting
            for? Come and Join us today and make your business Digital.</p>
        <a class="btn" th:href="@{/users}">Get Started</a>
    </div>
</section>


<script href="js/jquery.min.js" rel="script"></script>

</body>
</html>