<!--/*
*   Created by IntelliJ IDEA Ultimate, 2020
*   User: Abhishek
*   Date: 17-06-2020
*   Time: 03:18 AM
*/-->


<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
<div class="login-logo">
    <img src="img/logo.png">
    <h3>Welcome to Spark<span class="bit">Bit</span></h3>
    <div class="login">
        <form method="post" th:action="@{/users}">
            <p class="logout" th:if="${param.logout} != null">Your Session is Logout</p>
            <p class="error" th:if="${param.error} != null">Invalid Username and Password</p>
            <label for="username"/>
            Username : <input id="username" name="username" placeholder="Username" type="text"><br><br>
            <label for="password"/>
            Password : <input id="password" name="password" placeholder="Password" type="password"><br><br>
            <div class="login-btn">
                <input class="btn" type="submit" value="Login">
            </div>
        </form>
    </div>
</div>
</body>
</html>